out
dist
node_modules
.vscode-test
.wdio-vscode-service
*.vsix
coverage
e2e/logs
samples/**/logs
**/.turbo
packages/vscode-webdriverio/README.md
packages/vscode-webdriverio/CHANGELOG.md
packages/vscode-webdriverio/LICENSE
