<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>WebdriverIO Config Editor</title>
        <meta
            http-equiv="Content-Security-Policy"
            content="default-src 'none'; img-src <%=it.cspSource%>; script-src <%=it.cspSource%>; nonce-<%=it.nonce%>; style-src 'unsafe-inline' <%=it.cspSource%>; style-src-elem 'unsafe-inline' <%=it.cspSource%>; font-src <%=it.cspSource%>;"
        />
        <% it.stylesheets.forEach((stylesheet) => { %>
            <link rel="stylesheet" href="<%=stylesheet%>" nonce="<%=it.nonce%>" />
        <% }) %>
        <% it.scripts.forEach((script) => { %>
            <script src="<%=script%>" nonce="<%=it.nonce%>" type="module"></script>
        <% }) %>
    </head>
<body>
    <h1>WebdriverIO Configuration</h1>
    <vscode-divider></vscode-divider>
    <vscode-form-container>
        <% Object.entries(it.defaults).forEach(([name, config]) => { %>
            <vscode-form-group>
                <vscode-label for="<%= name %>"><%= name %>:</vscode-label>
                <vscode-single-select id="select-example">
                    <vscode-option description="Consectetur adipiscing elit">Lorem</vscode-option>
                    <vscode-option selected description="Donec elit odio">Ipsum</vscode-option>
                    <vscode-option description="Aliquam ac vulputate eros">Dolor</vscode-option>
                </vscode-single-select>
                <vscode-form-helper>
                    <p><%= config.description %></p>
                </vscode-form-helper>
            </vscode-form-group>
        <% }) %>
        <vscode-form-group>
            <vscode-button>Save</vscode-button>
            <vscode-button secondary>Cancel</vscode-button>
        </vscode-form-group>
    </vscode-form-container>
</body>
</html>