<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>WebdriverIO Config Editor</title>
        <meta
            http-equiv="Content-Security-Policy"
            content="default-src 'none'; img-src <%=it.cspSource%>; script-src <%=it.cspSource%>; nonce-<%=it.nonce%>; style-src 'unsafe-inline' <%=it.cspSource%>; style-src-elem 'unsafe-inline' <%=it.cspSource%>; font-src <%=it.cspSource%>;"
        />
        <% it.stylesheets.forEach((stylesheet) => { %>
            <link rel="stylesheet" href="<%= stylesheet.href %>" nonce="<%= it.nonce %>" id="<%= stylesheet.id %>" />
        <% }) %>
        <% it.scripts.forEach((script) => { %>
            <script src="<%= script %>" nonce="<%=it.nonce%>" type="module"></script>
        <% }) %>
    </head>
<body>
    <h1>WebdriverIO Configuration</h1>
    <vscode-divider></vscode-divider>
    <vscode-form-container responsive>
        <% Object.entries(it.defaults).forEach(([name, config]) => { %>
            <vscode-form-group variant="settings-group">
                <vscode-label for="<%= name %>">
                    <%= config.name %>:
                </vscode-label>
                <vscode-form-helper>
                    <p><%= config.description %></p>
                </vscode-form-helper>
                <%~ include(config.type, { name, ...config, global: it }) %>
            </vscode-form-group>
        <% }) %>
        <vscode-form-group>
            <vscode-button>Save</vscode-button>
            <vscode-button secondary>Cancel</vscode-button>
        </vscode-form-group>
    </vscode-form-container>
</body>
</html>