<vscode-<%= it.multiselect ? 'multi' : 'single' %>-select name="<%= it.name %>">
    <% it.options.forEach((option) => {
        if (typeof option === 'string') {
            %>
            <vscode-option
                <%= it.default === option ? ' selected' : '' %>
            >
                <%= option %>
            </vscode-option>
            <%
        } else {
            %>
            <vscode-option
                description="<%= option.description %>"
                <%= it.default === option ? ' selected' : '' %>
            >
                <%= option.name %>
            </vscode-option>
            <%
        }
    %>
    <% }) %>
</vscode-single-select>