<vscode-<%= it.multi ? 'multi' : 'single' %>-select name="<%= it.property %>">
    <% it.options.forEach((option) => {
        const val = it.global.config[it.property]
        if (typeof option === 'string') {
            %>
            <vscode-option
                <%= (
                    (typeof val === 'undefined' && it.default === option) ||
                    val === option
                 ) ? ' selected' : '' %>
            >
                <%= option %>
            </vscode-option>
            <%
        } else {
            const isSelected = (
                (typeof val === 'undefined' && it.default === option.value) ||
                (typeof val === 'string' && val === option.value) ||
                (Array.isArray(val) && val.includes(option.value))
            );
            %>
            <vscode-option
                <%= isSelected ? ' selected' : '' %>
            >
                <%= option.label %>
            </vscode-option>
            <%
        }
    %>
    <% }) %>
</vscode-single-select>