header {
    position: relative;
}

header #btnEditor {
    position: absolute;
    right: 0;
    top: 0;
}

.suitesTable {
    width: 100%;
}

.suitesTable vscode-table-cell {
    padding: 5px 0;
    vertical-align: top;
    white-space: normal;
}

.suitesTable vscode-inputbox {
    width: 95%;
}

.suitesTable vscode-inputbox[multiline] {
    width: 100%;
}

vscode-collapsible p {
    font-size: var(--vscode-font-size);
    margin: 10px;
}
